body {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}

* {
  box-sizing: border-box;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -webkit-transform: translate3d(0,0,0), opacity;
  z-index: 210;
  background: rgba(255,255,255,0.75);
  color: black;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.7);
  text-align: center;
  padding: 150px 0;
  opacity: 0;
  display: none;
  font-size: 15px;
}
.loader img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transform: translate3d(0,0,0), opacity;
  z-index: 95;
}
.page.top {
  -webkit-transform: translate3d(0,-100%,0);
}
.page.left {
  -webkit-transform: translate3d(-100%,0,0);
}
.page.right {
  -webkit-transform: translate3d(100%,0,0);
}
.page.center {
  z-index: 96;
}
.page.fade {
  opacity: 0;
}

.page.hidden {
  -webkit-transform: translate3d(-100%,0,0);
  display: none;
}

.page header {
  position: absolute;
  width: 100%;
  z-index: 100;
  -webkit-transform: translate3d(0,0,0);
}

.page footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 99;
  -webkit-transform: translate3d(0,0,0);
}

.page .wrapper  {
  position:absolute; 
  z-index:98;
	top:0; bottom:0; left:0;
	width:100%;
	overflow: auto;
    overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.page article {
  padding: 100px 0;
  position:absolute; z-index:1;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
}

.page article.art-glossary {
  width: 95%;
}

.top-ivy,
.bottom-ivy {
  position: absolute;
}

/* BitStamp Styling */

body {
  background: #F7F6F2;
  color: #333;
}

.screen {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5em;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 5px;
  color: #999;
  border: 1px solid #d4d4d4;
  -webkit-appearance: none;
  margin-bottom: 10px;
}
input:focus {
  outline: none;
  border: 1px solid #8EC919;
}

.log-in {
  margin-top: 15px;
}

.logo {
  text-align: center;
  margin: 20px 0;
}

.well {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.current-btc-data {
  background: #8EC919;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.current-btc-data .databox {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2)
}
.current-btc-data .databox:last-of-type {
  border-bottom: 0
}
.current-btc-data .databox .label {
  display: inline-block;
  width: 50%;
}
.current-btc-data .databox .value {
  display: inline-block;
  font-weight: bold;
}

.button {
  text-decoration: none;
  border: 1px solid #9DCC4D;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  float: left;
  height: 48px;
  line-height: 48px;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  background-color: #8EC919;
  background-image: -webkit-gradient(linear,0 0,0 bottom,from(#9ECC34),to(#8EC919));
  background-image: -moz-linear-gradient(#9ECC34,#8EC919);
  background-image: -o-linear-gradient(#9ECC34,#8EC919);
  background-image: linear-gradient(#9ECC34,#8EC919);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ECC34',endColorstr='#8EC919',GradientType=0);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:hover {
  color: #fff;
  border: 1px solid #C6E77;
  background-color: #8EC919;
  background-image: -webkit-gradient(linear,0 0,0 bottom,from(#A4D347),to(#8EC919));
  background-image: -moz-linear-gradient(#A4D347,#8EC919);
  background-image: -o-linear-gradient(#A4D347,#8EC919);
  background-image: linear-gradient(#A4D347,#8EC919);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4D347',endColorstr='#8EC919',GradientType=0);
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.2));
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}

@media all and (min-width: 640px) {
  .page article {
    width: 320px;
    margin-left: -160px;
    left: 50%;
  }
}
