<!doctype html>
<html ng-app="hive-bitstamp">
  <head>
    <link href="css/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>   
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </head>
<body ng-app="hive-bitstamp" ng-controller="ScreenCtrl" ng-init="pushView('login-screen')">
  <div ng-controller="MainCtrl">
    <div class="screen" ng-class="getScreenClass('login-screen')" ng-controller="LoginCtrl">
      <div class="login-screen">
        <div style="color:{{logger.color}}">{{logger.msg}}</div>
        <form>
          <label>bitstamp id:
            <input type="text" id="user" name="user" ng-model="credentials.login"/>
          </label>
          <br/>
          <label>bitstamp password:
            <input type="password" id="password" name="password" ng-model="credentials.password"/>
          </label>
          {{credentials.login}}
          {{credentials.password}}
          <input type="submit" value="login" ng-click="submitClick()" />
        </form>
      </div>
    </div>
    <div class="screen" ng-class="getScreenClass('home-screen')" ng-controller="HomeCtrl">
      <div class="home-screen">
      </div>
    </div>
  </div>
</body>
</html>
