<div class="screen" ng-controller="HomeCtrl" ng-init="initHome()">
  <div class="menu" ng-click="popView()">
    <a href="#" ng-click="logOut()">Log out</a>
  </div>
  <div class="home-screen">
    <div style="color:{{logger.color}}">{{logger.msg}}</div>
    <div class="well">
      Hello {{currentUser.login}}!
    </div>
    <div class="current-btc-data">
      <div class="databox">
        <div class="label">BTC balance</div>
        <div class="value">{{user_balance.btc_balance}}</div>
      </div>
      <div class="databox">
        <div class="label">USD balance</div>
        <div class="value">{{user_balance.usd_balance}}</div>
      </div>
    </div>
    <div class="current-btc-data">
      <div class="databox">
        <div class="label">BTC price</div>
        <div class="value">{{btcData.last}}</div>
      </div>
      <div class="databox">
        <div class="label">Highest buy</div>
        <div class="value">{{btcData.bid}}</div>
      </div>
      <div class="databox">
        <div class="label">Lowest sell</div>
        <div class="value">{{btcData.ask}}</div>
      </div>
    </div>
  </div>
</div>