<div class="screen screen-with-menu" ng-controller="DepositCtrl" ng-init="initDeposit()">
  <div class="deposit-screen">
    <div style="color:{{logger.color}}">{{logger.msg}}</div>
    <div class="well home">
      <div class="customer">
        Transfer BTC from Bitstamp to Hive wallet
      </div>
      <div class="data info">
        You have <b>{{user_balance.btc_balance}}</b> bitcoins available in your Bitstamp wallet.
      </div>
      <hr>
      <div class="data">
        <div class="input_label">Deposit Amount:</div>
        <input type="text" placeholder="BTC" ng-model="amount">
      </div>
      <div class="actions">
        <a href="#" class="button btn-small" ng-click="sendDeposit()">
          <i class="icon-download"></i>
          Deposit
        </a>
        <a href="#" class="button btn-small btn-neutral pull-right" ng-click="popView()">
          <i class="icon-remove"></i>
          Cancel
        </a>
      </div>
    </div>
  </div>
</div>
