<!-- ng-init="logMeIn()" -->
<div class="screen" ng-controller="LoginCtrl" >
  <div class="login-screen">
    <div class="logger {{logger.type}}">{{logger.msg}}</div>
    <div class="logo">
      <img src="images/Icon.png" alt="Bitstamp">
    </div>
    <form>
      <input type="text" id="user" placeholder="Bitstamp ID" name="user" ng-model="credentials.login"/>
      <input type="password" id="password" placeholder="Password" name="password" ng-model="credentials.password"/>
      <a href="#" class="button log-in" value="login" ng-click="submitClick()">Log in</a>
    </form>
  </div>
</div>
