<div class="screen screen-with-menu" ng-controller="OrdersCtrl" ng-init="initOrders()">
  <div class="menu single">
    <a href="#" class="button btn-small" ng-click="popView();">
      <i class="icon-arrow-left"></i>
      Back
    </a>
    <a href="#" class="button btn-small select-left" ng-click="list = 'bids'" ng-class="{active: list == 'bids'}">
      Bids
    </a>
    <a href="#" class="button btn-small select-right active" ng-click="list = 'asks'" ng-class="{active: list == 'asks'}">
      Asks
    </a>

  </div>
  <div class="orders-screen">
    <div style="color:{{logger.color}}">{{logger.msg}}</div>
    <div class="asks-list" ng-class="{active: list == 'asks'}">
      <table class="standard-table">
        <tr>
          <th>Price</th><th>Amount</th><th>Value</th>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
      </table>  
    </div>
    <div class="bids-list" ng-class="{active: list == 'bids'}">
      <table class="standard-table">
        <tr>
          <th>Price</th><th>Amount</th><th>Value</th>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
        <tr>
          <td>$129.54</td><td>21.36969275</td><td>$2,768.23</td>
        </tr>
        <tr>
          <td>$129.38</td><td>1.66666666</td><td>$215.63</td>
        </tr>
        <tr>
          <td>$129.16</td><td>5.43612573</td><td>$702.13</td>
        </tr>
      </table>  
    </div>
  </div>
</div>